body {
    background-color: rgb(243, 243, 236);
}

#container {
    background-color: darkgrey;
    width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 800px;
}

nav {
    text-align: center;
    margin: 20 px 0;
}

nav a {
    font-size: 20px;
    color: black;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
}

h1, 
h2, 
h3,
footer {
    text-align: center;
}